@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
}

.outer-box{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left, #7b2cbf, #e0aaff );
}

.inner-box{
    width: 400px;
    margin: 0 auto;
    position: relative;
    top: 20%;
    transform: translate(0%);
    padding: 20px 40px;
    border-radius: 8px;
    /* background-color: #ffffffcc;  */
    backdrop-filter: blur(8px);
    background: linear-gradient(to top left, #ffffffff, #ffffff33);
    box-shadow: 2px 2px 5px #3c096c ;
    z-index: 2;
    
}

.signup-header h1{
    font-size: 2.5rem;
}

.signup-header p{
    font-size: 0.8rem;
    color: dimgrey;
}

.signup-body{
    margin: 20px 0;
}

.signup-body p{
    margin: 10px;
}

.signup-body p label{
    display: block;
    font-weight: bold;
}

.signup-body p input{
    width: 100%;
    padding: 10px;
    border: 2px solid #cccc;
    border-radius: 4px;
    font-size: 1rem;
    margin: 3px;
}

.signup-body p input[type="submit"]{
    background-color: #0096c7;
    cursor: pointer;
    border: none;
    color: white;
}

.signup-body p input[type="submit"]:hover{
    background-color: #023e8a;
}

.signup-footer p{
    color: #555;
    text-align: center;
}

.signup-footer a{
    color: #0096c7;
}

.circle{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background: linear-gradient(to top right,#c8b6ff, #ffd6ff  );
    position: absolute;
}

.c1{
    top: 100px;
    right: 40px;
}

.c2{
    bottom: 90px;
    left: 50px;
}